@charset "Shift_JIS";

* {
	margin:0; padding:0; /*全要素のマージン・パディングをリセット*/
} 

canvas
{
	top :0px ;
	left:0px ;
	position : absolute;
}

@media (max-width : 599px){
	canvas
	{
		width : 480px;
		height :300px;
	}
}

@media (min-width : 600px){
	canvas
	{
		width : 960px;
		height :600px;
	}
}

@media (min-width : 1025px){
	canvas
	{
		width : 1920px;
		height :1200px;
	}
}
.resizeimage * { width: 100%; }
